[submodule "deps/idawilli"]
	path = deps/idawilli
	url = https://github.com/williballenthin/idawilli.git
[submodule "deps/pi-mono"]
	path = deps/pi-mono
	url = https://github.com/badlogic/pi-mono.git
